<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
   <div style="text-align: center;">
      {% include 'navbar.html' %}
     <h1>About Us</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel metus vel neque euismod consectetur. Nullam euismod, justo in condimentum porttitor, felis justo posuere lectus, vel tristique nunc tellus in neque. Sed auctor neque vel ipsum consequat, id faucibus neque gravida. Sed at ex vel tortor facilisis tincidunt.</p>
   </div>
</body>
</html>